<div class="container">
    <nz-tabset>
        <nz-tab nzTitle="Soldiers">
            <app-soldier-information></app-soldier-information>
        </nz-tab>
        <nz-tab nzTitle="Military Camps">
            <app-military-camps></app-military-camps>
        </nz-tab>
        <nz-tab nzTitle="Users">
            <app-user-information></app-user-information>
        </nz-tab>
    </nz-tabset>

    <!-- Logout button -->
    <div class="logout-button">
        <a nz-button nzType="default" (click)="logout()">Logout</a>
    </div>
</div>