.container {
    width: 100%;
    height: 100%;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: #084705;
    background-color: #b7d2be;
    text-align: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.heading-section {
    color: #1d4721;
    font-size: 40px;
    font-family: 'RichTheBarberFont', sans-serif;
}

body {
    overflow: hidden !important;
}