<div class="full-page-container">
    <div class="login-button-container">
        <a (click)="navigateToUrl()">Login</a>
    </div>
    <div class="search-container">
        <div class="search-title">
            <h1>Search</h1>
        </div>
        <div class="search-bar">
            <input nz-input class="search-input" type="text" [(ngModel)]="searchText"
                placeholder="Uncover military secrets..." />
            <button (click)="search()" [disabled]="searchText.length === 0" nz-button nzType="primary">
                <span nz-icon nzType="search"></span>
                Search
            </button>
        </div>
        <div class="search-results">
            <app-search-results [searchResults]="searchResults"></app-search-results>
        </div>
    </div>
</div>